<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.maprich.app">

    <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->

    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="org.maprich.app.TitanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.maprich.app.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <!-- This keeps the window background of the activity showing
                 until Flutter renders its first frame. It can be removed if
                 there is no splash screen (such as the default splash screen
                 defined in @style/LaunchTheme). -->
            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--<intent-filter> &lt;!&ndash;URL Scheme启动&ndash;&gt;
                &lt;!&ndash;必有项&ndash;&gt;
                <action android:name="android.intent.action.VIEW" />
                &lt;!&ndash;如果希望该应用可以通过浏览器的连接启动，则添加该项&ndash;&gt;
                <category android:name="android.intent.category.BROWSABLE" />
                &lt;!&ndash;表示该页面可以被隐式调用，必须加上该项&ndash;&gt;
                <category android:name="android.intent.category.DEFAULT" />
                &lt;!&ndash;协议部分&ndash;&gt;
                <data android:scheme="titan"/>
            </intent-filter>-->
        </activity>

        <activity
            android:name="org.hyn.titan.SplashActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:allowTaskReparenting="true"
            android:screenOrientation="portrait">
            <intent-filter> <!--URL Scheme启动-->
                <!--必有项-->
                <action android:name="android.intent.action.VIEW"/>
                <!--如果希望该应用可以通过浏览器的连接启动，则添加该项-->
                <category android:name="android.intent.category.BROWSABLE" />
                <!--表示该页面可以被隐式调用，必须加上该项-->
                <category android:name="android.intent.category.DEFAULT" />
                <!--协议部分-->
                <data android:scheme="titan"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".business.qrcode.QRCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mapbox.mapboxgl.plugins.route.NavigationActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.mapbox.token"
            android:value="@string/mapbox_access_token" />

        <provider
            android:name="androidx.core.content.FileProvider"
            tools:replace="android:authorities"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>


    </application>
</manifest>
