<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209401493916-u4po6i0bke09tbr97qiedgc03lf0qa8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209401493916-u4po6i0bke09tbr97qiedgc03lf0qa8g</string>
	<key>API_KEY</key>
	<string>AIzaSyAh83VOnZAntnGJ3af8sVj1hNgz5eNmlM0</string>
	<key>GCM_SENDER_ID</key>
	<string>209401493916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.hyn.titan-map</string>
	<key>PROJECT_ID</key>
	<string>titan-map-ac7bc</string>
	<key>STORAGE_BUCKET</key>
	<string>titan-map-ac7bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209401493916:ios:e78dba37eab0df476d3059</string>
	<key>DATABASE_URL</key>
	<string>https://titan-map-ac7bc.firebaseio.com</string>
</dict>
</plist>