<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Titan</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>titan</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoibnVyYm90IiwiYSI6ImNpaG0ycXA3czBvamh2NWtsZzBzdHE2dmQifQ.B7NiVcQD0DFguQF1aRcOeQ</string>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Enable Titan to access your camera roll to upload your photos and save ones you&apos;ve taken with the app.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Enable Titan to access your calendars  get accurately date.</string>
	<key>NSCameraUsageDescription</key>
	<string>Enable Titan to access scan fuctions , take photos,  and so on.</string>
	<key>NSContactsUsageDescription</key>
	<string>Enable Titan to access your contracts  info for invite friends together use.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enable Titan to access face Id services, </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This allows us to use your location to provide you certain features lkie tracking your runs more accurately, keeping you in the loop about Titan events and exclusive product releases, and allowing you to tag your location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Turn on location services to find poi around you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turn on location services to find poi around you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The app records you during the night to detect snoring sounds.</string>
	<key>NSMotionUsageDescription</key>
	<string> Keeping you in the loop about Titan events and exclusive product releases.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Enable Titan to access your camera roll to upload your photos and save ones you&apos;ve taken with the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Enable Titan to access your camera roll to upload your photos and save ones you&apos;ve taken with the app.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>The app records you during the night to detect snoring sounds.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
