<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.maprich.app.umenglib" >
    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        >
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=101765295" />
        <activity
            android:name="org.maprich.app.umenglib.xiaomi.MipushActivity"
            android:launchMode="singleTask"
            android:exported="true" />
    </application>
</manifest>
